MYSQL_ROOT_PASSWORD=change_this_mysql_root_password
MYSQL_DATABASE=new-api
REDIS_PASSWORD=change_this_redis_password
SESSION_SECRET=change_this_to_a_long_random_string
CRYPTO_SECRET=change_this_to_another_long_random_string
TZ=Asia/Shanghai
NODE_NAME=new-api-node-1
STREAMING_TIMEOUT=300
